<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sajdoko.smartexpensetracker">

    <!-- If you need to read/write external storage or use internet, add permissions here -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartExpenseTracker">

        <!-- Main (launcher) Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.AddTransactionActivity" />
        <activity android:name=".ui.DetailActivity" />
        <activity android:name=".ui.SettingsActivity" />

        <!-- If using a custom Application class -->
        <!-- android:name=".MyApplication" -->
    </application>
</manifest>
